{{range $i, $team := .QueueTeams}}
<div class="col-lg-6 col-md-6 col-sm-6 mb-2">
  {{template "clickableTeamBoxQueue" $team}}
</div>
{{end}}

<!-- Team Modal -->
<div class="modal fade" id="teamModalQueue" tabindex="-1" aria-labelledby="teamModalQueueLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="teamModalQueueTitle"></h5> </br>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <div class="row">
          <!-- Current match and next match -->
          <h4>Current Match</h4>
          <div class="col-lg-12">
            <button class="btn btn-danger" type="button" id="r1_assign">Red 1</button>
            <button class="btn btn-danger" type="button" id="r2_assign">Red 2</button>
            <button class="btn btn-danger" type="button" id="r3_assign">Red 3</button>
            <button class="btn btn-primary" type="button" id="b1_assign">Blue 1</button>
            <button class="btn btn-primary" type="button" id="b2_assign">Blue 2</button>
            <button class="btn btn-primary" type="button" id="b3_assign">Blue 3</button>
          </div>
        </div>
        <div class="row">
          <!-- Current match and next match -->
          <h4>Next Match</h4>
          <div class="col-lg-12">
            <button class="btn btn-danger" type="button" id="r1_assignnext">Red 1</button>
            <button class="btn btn-danger" type="button" id="r2_assignnext">Red 2</button>
            <button class="btn btn-danger" type="button" id="r3_assignnext">Red 3</button>
            <button class="btn btn-primary" type="button" id="b1_assignnext">Blue 1</button>
            <button class="btn btn-primary" type="button" id="b2_assignnext">Blue 2</button>
            <button class="btn btn-primary" type="button" id="b3_assignnext">Blue 3</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <!-- TODO Make Function -->
            <button class="btn btn-warning" type="button" id="remove_queue">Remove from Queue</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Selection List -->
  {{define "clickableTeamBoxQueue"}}
  <div type="button" class="btn btn-secondary btn-block" style="width:100%"
    onclick="openTeamQueuedModal('{{.TeamId}}', '{{.Nickname}}')" style="cursor: pointer;">
    <div class="team-id text-center">{{.TeamId}}</div>
    <div class="team-name text-center">{{.Nickname}}</div>
    Preferences:
    {{if .Blue1Preference}} Blue1,{{end}}
    {{if .Blue2Preference}} Blue2,{{end}}
    {{if .Blue3Preference}} Blue3,{{end}}
    {{if .Red1Preference}} Red1,{{end}}
    {{if .Red2Preference}} Red2,{{end}}
    {{if .Red3Preference}} Red3,{{end}}
    {{if .RedPreference}} Red Alliance,{{end}}
    {{if .BluePreference}} Blue Alliance,{{end}}
  </div>
  {{end}}

  <script>
    function removeFromQueue(teamId) {
      // TODO: Remove team from queue
      console.log("Remove from Queue: " + teamId);
      const team = {
        "teamId": parseInt(teamId, 10)
      };
      websocket.send("removeTeamQueue", team);
    }

    function openTeamQueuedModal(teamId, teamNickname) {
      $('#teamModalQueueTitle').text('Team: ' + teamId + ' - ' + teamNickname);
      $('#r1_assign').attr('onclick', `$('#statusR1 .team-number').val('${teamId}').trigger('change'); $('#teamModalQueue').modal('hide'); removeFromQueue('${teamId}');`);
      $('#r2_assign').attr('onclick', `$('#statusR2 .team-number').val('${teamId}').trigger('change'); $('#teamModalQueue').modal('hide'); removeFromQueue('${teamId}');`);
      $('#r3_assign').attr('onclick', `$('#statusR3 .team-number').val('${teamId}').trigger('change'); $('#teamModalQueue').modal('hide'); removeFromQueue('${teamId}');`);
      $('#b1_assign').attr('onclick', `$('#statusB1 .team-number').val('${teamId}').trigger('change'); $('#teamModalQueue').modal('hide'); removeFromQueue('${teamId}');`);
      $('#b2_assign').attr('onclick', `$('#statusB2 .team-number').val('${teamId}').trigger('change'); $('#teamModalQueue').modal('hide'); removeFromQueue('${teamId}');`);
      $('#b3_assign').attr('onclick', `$('#statusB3 .team-number').val('${teamId}').trigger('change'); $('#teamModalQueue').modal('hide'); removeFromQueue('${teamId}');`);
      $('#r1_assignnext').attr('onclick', `$('#nextstatusR1 .team-number').val('${teamId}').trigger('change'); $('#teamModalQueue').modal('hide'); removeFromQueue('${teamId}');`);
      $('#r2_assignnext').attr('onclick', `$('#nextstatusR2 .team-number').val('${teamId}').trigger('change'); $('#teamModalQueue').modal('hide'); removeFromQueue('${teamId}');`);
      $('#r3_assignnext').attr('onclick', `$('#nextstatusR3 .team-number').val('${teamId}').trigger('change'); $('#teamModalQueue').modal('hide'); removeFromQueue('${teamId}');`);
      $('#b1_assignnext').attr('onclick', `$('#nextstatusB1 .team-number').val('${teamId}').trigger('change'); $('#teamModalQueue').modal('hide'); removeFromQueue('${teamId}');`);
      $('#b2_assignnext').attr('onclick', `$('#nextstatusB2 .team-number').val('${teamId}').trigger('change'); $('#teamModalQueue').modal('hide'); removeFromQueue('${teamId}');`);
      $('#b3_assignnext').attr('onclick', `$('#nextstatusB3 .team-number').val('${teamId}').trigger('change'); $('#teamModalQueue').modal('hide'); removeFromQueue('${teamId}');`);
      $('#remove_queue').attr('onclick', `$('#teamModalQueue').modal('hide'); removeFromQueue('${teamId}');`);
      $('#teamModalQueue').modal('show');
    }
  </script>